html {
	scroll-behavior: smooth;
}
body {
	background: linear-gradient(-45deg, #00ffdd, rgb(0, 162, 255)) center center /
		cover no-repeat;
	background: #2e4058;
	background: #f8f8f8;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
	// font-family: Arial, Helvetica, sans-serif;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sub-head {
	font-size: 4rem;
	letter-spacing: 8px;
	color: #00ff95;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 5px 5px 0 rgba(0, 60, 255, 0.7);

	@media (max-width: 700px) {
		text-shadow: 2px 2px 0 rgba(0, 60, 255, 0.7);
		letter-spacing: 2px;
	}
}

$shade: rgba(0, 0, 0, 0.2);

.brand{
	position: fixed;
	z-index: 50;
	top: 16px;
	left: 16px;
	padding: 0 20px;
	border-radius: 2px;
	@media (max-width: 700px) {
		left: 0px;
	}
	img{
		@media (max-width: 700px) {
			height: 40px;
			width: 40px;
			left: 0px;
		}
	}
	h1{
		color: #fff;
		span{
			color: #808080;
		}
	}
}

.background {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
	perspective: 500px;
	.code_bg {
		position: absolute;
		height: 100vh;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		overflow: hidden;
		&::after {
			content: "";
			position: absolute;
			height: 110%;
			width: 110%;
			// background: url(../img/code_bg-min.png);
			filter: blur(5px);
		}
		img {
			position: absolute;
			height: auto;
			width: 100vw;
			filter: blur(5px);
			@media (max-width: 700px) {
				height: 100vh;
				width: auto;
			}
		}
	}

	.circle {
		position: fixed;
		top: 29%;
		left: 43%;
		height: 200px;
		width: 200px;
		background: radial-gradient(farthest-side at 50% 0%, #01adff, #ec034400),
    linear-gradient(25deg, #f00, #00f);;
		border-radius: 50%;
		z-index: 9;
		@media (max-width: 700px) {
			top: 40%;
			left: 30%;
			height: 160px;
			width: 160px;
		}
	}
	@keyframes rotate_it {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
	.symbols {
		display: none;
		position: relative;
		z-index: 10;
		p {
			font-size: 4rem;
			color: #fff;
			transform-origin: bottom;
		}
		.braces {
			position: absolute;
			top: 120px;
			left: 300px;
			transform: rotate(-20deg);
			animation: rotate_it 0.5s 1s infinite alternate-reverse linear;
		}
		.plus {
			position: absolute;
			top: -200px;
			left: -350px;
			transform: rotate(-20deg);
			animation: rotate_it 0.5s 0.3s infinite alternate-reverse linear;
		}
		.zero {
			position: absolute;
			top: -200px;
			left: 300px;
			transform: rotate(-20deg);
			animation: rotate_it 0.5s 0.8s infinite alternate-reverse linear;
		}
		.arrows {
			position: absolute;
			top: 120px;
			left: -350px;
			transform: rotate(-20deg);
			animation: rotate_it 0.5s 0.5s infinite alternate-reverse linear;
		}
		@media (max-width: 700px) {
			p{
				font-size: 2rem;
			}
			.braces{
				top: 100px;
				left: -100px;
			}
			.plus{
				top: -100px;
				left: -100px;
			}
			.zero{
				top: -100px;
				left: 100px;
			}
			.arrows{
				top: 100px;
				left: 100px;
			}
		}
	}
}

// navigation css----------------

.nav {
	height: 100vh;
	width: 100%;
	background: linear-gradient(
		45deg,
		rgba(2, 19, 112, 0.7),
		rgba(2, 255, 234, 0.7)
	);
	backdrop-filter: blur(10px);
	position: fixed;
	z-index: 40;
	display: grid;
	justify-content: center;
	align-items: center;
	transform: translateY(-120%);
	opacity: 1;
	transition: all .5s ease-in-out;
	@media (max-width: 700px) {
		background: linear-gradient(
		45deg,
		rgba(2, 19, 112, 0.9),
		rgba(2, 255, 234, 0.9)
	);
	}
}

.nav.expanded {
	transform: translateY(0%);
	opacity: 1;
}

.nav ul {
	list-style: none;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.nav ul .item {
	height: 100px;
	width: 100%;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.nav ul .item a {
	font-family: "Merriweather sans", Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 4rem;
	color: rgba(20, 30, 46, 1);
	text-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	letter-spacing: 5px;
	transition: all 0.3s;
	&:hover {
		color: #fff;
		letter-spacing: 30px;
	}

	@media (max-width: 480px) {
		font-size: 2rem;
	}
	@media (max-width: 700px) {
		font-size: 2.5rem;
		text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
		&:hover {
			letter-spacing: 10px;
		}
	}
}

.nav ul .item::after {
	content: "";
	position: absolute;
	bottom: 20px;
	left: -100%;
	height: 5px;
	width: 100%;
	background: #fff;
	transition: all 1s ease;
}

.nav ul .item:hover::after {
	left: 100%;
	@media (max-width: 700px) {
		display: none;
	}
}

/* animate the sidebar menu */
.nav-toggle {
	user-select: none;
	cursor: pointer;
	height: 30px;
	right: 4rem;
	position: fixed;
	top: 2rem;
	width: 50px;
	z-index: 50;
	@media (max-width: 700px) {
		height: 40px;
		width: 40px;
		right: 16px;
		top: 16px;
	}
}

.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.5s ease;
	background: #ff6a60;
	content: "";
	height: 0.4rem;
	width: 100%;
	@media (max-width: 700px) {
		height: 4px;
	}
}

.nav-toggle .nav-toggle-bar {
	margin-top: 0;
}

.nav-toggle .nav-toggle-bar::after {
	margin-top: 0.8rem;
	@media (max-width: 700px) {
		margin-top: 0.6rem;
	}
}

.nav-toggle .nav-toggle-bar::before {
	margin-top: -0.8rem;
	@media (max-width: 700px) {
		margin-top: -0.6rem;
	}
}

.nav-toggle.expanded .nav-toggle-bar {
	background: transparent;
}

.nav-toggle.expanded .nav-toggle-bar::after,
.nav-toggle.expanded .nav-toggle-bar::before {
	margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #fff;
}

.nav-toggle.expanded .nav-toggle-bar::before {
	transform: rotate(-45deg);
	background: #fff;
}

// main content---------->

@keyframes blink {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.highlight {
	display: none;
	height: 100vh;
	width: 100%;
	z-index: 100;
	position: fixed;
	font-size: 1.5rem;
	// background: rgba(255, 255, 255, 0.9);
	text-align: center;
	padding: 0px 5px;
	border-radius: 5px;
	h1{	
		color: rgb(85, 20, 0);
		font-weight: bold;
		font-size: 5rem;
		position: fixed;
		padding: 10px 20px;
		background: rgb(255, 217, 2);
		box-shadow:0 0 0 10px rgba(0, 0, 0, 0.1);
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		line-height: 5rem;
		span{
			color: #10a503;
			font-size: 3rem;
			padding: 10px 20px;
			// background: rgb(39, 39, 39);
			animation: blink 1.2s infinite linear alternate;
			@media screen and (max-width : 800px){
				font-size: 1.1rem;
			}
		}
		@media screen and (max-width : 800px){
			font-size: 2.1rem;
		}
	}
}

.main {
	height: auto;
	width: 100%;
	height: auto;
	.welcome {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100%;
		z-index: 10;
		.name {
			position: fixed;
			h2 {
				font-size: 3rem;
				margin: 20px;
				color: #ffffff;
				margin-left: 20px;
				line-height: 0;
				text-transform: uppercase;
				span{
					color: #00ff95;
				}
				@media (max-width: 700px) {
					font-size: 2rem;
				}
				@media (max-width: 480px) {
					font-size: 1.5rem;
				}
				text-align: center;
			}
			h1 {
				font-size: 7rem;
				color: #fff;
				font-weight: bold;
				text-shadow: 0 5px 10px $shade;
				span{
					color: #ffffff;
				}
				@media (max-width: 700px) {
					font-size: 4rem;
				}
				@media (max-width: 400px) {
					font-size: 3rem;
				}
			}
			p {
				font-size: 3rem;
				color: #ffffff;
				font-family: 'Reenie Beanie', cursive;
				@media (max-width: 700px) {
					font-size: 2rem;
				}
				@media (max-width: 400px) {
					font-size: 1.5rem;
				}
			}
			.sub-title{
				font-size: 1.3rem;
				text-align: right;
				color: #00ff95;
				// font-weight: bold;
				letter-spacing: 1px;
			}
		}
	}

	.portfolio {
		position: relative;
		z-index: 20;
		// background: url(../img/random_grey_variations_@2X.png);
		background: #f8f8f8;
		background: radial-gradient(farthest-side at 50% 0%, #79fbff, transparent),
		linear-gradient(25deg, rgb(255, 126, 126), rgb(136, 136, 255));
		width: 80%;
		margin: 0 auto;
		border-radius: 10px;
		box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1) inset;
		top: -140px;
		@media (max-width: 480px) {
			width: 90%;
			top: 0;
		}

		.container {
			padding: 50px 0;
			@media (max-width: 700px){
				padding: 20px 0;
			}
			h2 {
				color: #fff;
				text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
				// @media (max-width: 700px) {
				// 	font-size: 2rem;
				// }
				@media (max-width: 700px) {
					color: #272727;
					letter-spacing: 0;
					text-transform: none;
					font-size: 2.5rem;
					text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
				}
			}
			.gallary {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
				grid-gap: 30px;
				.card-box {
					max-width: 300px;
					margin: 0 auto;
					perspective: 500px;
					transform-style: preserve-3d;
					display: flex;
					justify-content: center;
					align-items: center;
					.card {
						border: none;
						padding: 10px;
						border-radius: 10px;
						box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);

						transform-style: preserve-3d;
						
						.card-title {
							color: #00ac64;
							transition: all 0.3s;
						}
						.card-text {
							font-family: 'Noto Sans Mono', monospace;
							letter-spacing: -0.5px;
							color: #0e384d;
							transition: all 0.3s;
						}
						.btn {
							border: none;
							transform: translateZ(15px);
							box-shadow: 0 5px 5px $shade;
							transition: all 0.3s;
							&:hover {
								box-shadow: 0 10px 5px $shade;
								transform: translateY(-6px) translateZ(30px);
							}
						}
						.btn-secondary {
							background: linear-gradient(-45deg, #4d4d4d, #222);
						}
						.btn-success {
							background: linear-gradient(-45deg, #ff0707, #ff7b00);
						}
						img {
							border-radius: 10px;
							transform: translateZ(0px);
							transition: all 0.3s;
							@media (max-width: 700px) {
								box-shadow: 0px 20px 10px -10px $shade;
								transform: none;
							}
						}
						
						&:hover {
							background: linear-gradient(45deg, #8c00ff, #00ffff);
							@media (max-width: 700px) {
								background: #fff;
							}
							.card-title {
								color: #fff;
								transform: translateZ(15px);
								@media (max-width: 700px) {
									color: #00ac64;
									transform: none;
								}
							}
							.card-text {
								color: #eee;
								transform: translateZ(10px);
								@media (max-width: 700px) {
									color: #0e384d;
									transform: none;
								}
							}
							img {
								transform: translateZ(30px);
								box-shadow: 0px 20px 10px -10px $shade;
								@media (max-width: 700px) {
									transform: none;
								}
							}
						}
						
						@media (max-width: 700px) {
							transform: none;
							transform-style: unset;
						}
					}
					@media (max-width: 700px) {
						width: 90%;
					}
				}
			}
		}
	}

	.education {
		position: relative;
		height: auto;
		padding: 50px 5%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 20;
		.container {
			padding: 30px;
			border: 10px solid #fff;
			background:linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6)), url("../img/tic-tac-toe.png");
			box-shadow: 0 30px 20px -15px rgba(0, 0, 0, 0.1),
				0 0 20px rgba(0, 0, 0, 0.1) inset;
			height: auto;
			display: flex;
			justify-content: center;
			align-items: center;

			perspective: 1000px;
			// transform-style: preserve-3d;
			@media (max-width: 700px) {
				// padding: 10px;
				width: 100vw;
				border: none;
				background: #f8f8f8;
				box-shadow: none;
				flex-direction: column;
			}

			h2 {
				// font-size: 3rem;
				@media (max-width: 700px) {
					color: #272727;
					letter-spacing: 0;
					text-transform: none;
					font-size: 2.5rem;
					margin-top: 20px;
					text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
				}
			}
			.skills {
				position: relative;
				margin-top: 30px;
				h4{
					font-size: 1.1rem;
					@media (max-width: 700px){
						font-size : 1rem;
						font-weight: normal;
					}
				}
				li {
					display: inline-block;
					padding: 5px;
					img{
						height: 40px;
						width: auto;
					}
					.tech-name{
						
						@media (max-width: 700px){
							font-size: 0.7rem;
						}
					}
				}
				.learning{
					display: none;
					filter: grayscale(1);
					opacity: 0.7;
				}
				@media (max-width: 700px) {
					li {
						// display: block;
						text-align: center;
					}
					.middot {
						display: none;
					}
				}
			}
			.self-taught {
				position: relative;
				margin-top: 24px;
				padding: 10px;
				border: 1px solid #ccc;
				border-left: none;
				border-right: none;
				display: flex;
				align-items: center;
				p {
					display: inline-block;
					// font-family: 'Noto Sans Mono', monospace;
					// font-family: 'Merriweather', monospace;
					font-family: 'Nunito', sans-serif;
					line-height: 3rem;
					letter-spacing: -0.5px;
					font-size: 1.6rem;
					color: #38313f;
					margin: 10px;
					strong{
						padding: 0 5px;
						background: #ffc014;
					}
				}
				.photo{
					width: 100%;
					border: 10px solid #fff;
					// padding: 10px;
					border-radius: 2px;
					box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
					img{
						width: 100%;
						transition: all 0.3s;
						// transition: translateZ(0px);
					}
					&:hover {
						// background: linear-gradient(45deg, #8c00ff, #00ffff);
						@media (max-width: 700px) {
							background: #fff;
						}
						img {
							// box-shadow: 0px 20px 10px -10px $shade;
							@media (max-width: 700px) {
								transform: none;
	
							}
						}
					}
				}
				@media (max-width: 700px) {
					padding: 0px;
					flex-direction: column;
					p{
						font-size: 1.2rem;
						letter-spacing: 0px;
						margin-left: 0;
						line-height: 2rem;

					}
				}
			}
			.personal {
				position: relative;
				margin-top: 30px;
				.resume{
					width: 350px;
					margin: 1rem auto;
					padding: 16px 40px;
					background: #ffc014;
					border-radius: 12px;
					font-size: 2rem;
					box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
					a{
						font-size: 1.6rem;
						font-weight: bold;
						text-transform: uppercase;
						color: rgb(0, 0, 0);
						text-shadow: 0 3px 0px rgba(0, 0, 0, 0.2);
						text-decoration: none;
						transition: all 0.3s;
					}
				}
				h4{
					color: #042453b9;
					text-align: center;
					font-size: 1.1rem;
				}
				ul{
					list-style: none;
					padding: 0;
					display: grid;
					grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
					grid-gap: 0 10px;
					li{	
						width: 350px;
						margin: 1rem auto;
						padding: 16px 40px;
						background: linear-gradient(24deg, rgb(183, 137, 255), rgb(255, 132, 132));
						border-radius: 12px;
						font-size: 2rem;
						box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
						&:nth-child(2){
							background: linear-gradient(24deg, rgb(255, 211, 117), rgb(151, 255, 120));
						}
						&:nth-child(3){
							background: linear-gradient(24deg, rgb(95, 227, 236), rgb(240, 255, 29));
						}
						&:nth-child(4){
							background: linear-gradient(24deg, rgb(131, 170, 255), rgb(255, 163, 120));
						}
						@media (max-width: 700px){
							width: calc(100% - 10px);
						}
						a{	
							font-size: 1.6rem;
							font-weight: bold;
							text-transform: uppercase;
							color: rgb(0, 0, 0);
							text-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
							text-decoration: none;
							transition: all 0.3s;
							span{
								font-weight: lighter;
								width: 150%;
								transition: all 0.3s;
							}
						}
						&:hover{
							a {
								span{
									margin-left: 10px;
								}
							}
						}
					}
				}
			}
		}
	}

	.contact {
		padding: 50px;
		position: relative;
		z-index: 20;
		@media (max-width: 700px) {
			padding: 10px;
		}
		h2 {
			// text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
			@media (max-width: 700px) {
				color: #272727;
				letter-spacing: 0;
				text-transform: none;
				font-size: 2.5rem;
				// margin-top: 20px;
				text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
			}
		}

		li {
			display: inline-block;
			margin: 10px;
			a {
				text-decoration: none;
				font-size: 2rem;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				.footer_icon {
					height: 50px;
					width: 50px;
					@media (max-width: 700px) {
						height: 30px;
						width: 30px;
					}
				}
				span {
					font-size: 1.1rem;
					@media (max-width: 700px) {
						font-size: 0.7rem;
					}
				}
				&:hover {
					color: #fe3503;
				}
			}
		}
	}
}
