html {
  scroll-behavior: smooth;
}

body {
  background: #f8f8f8;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sub-head {
  font-size: 4rem;
  letter-spacing: 8px;
  color: #00ff95;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 5px 5px 0 rgba(0, 60, 255, 0.7);
}

@media (max-width: 700px) {
  .sub-head {
    text-shadow: 2px 2px 0 rgba(0, 60, 255, 0.7);
    letter-spacing: 2px;
  }
}

.brand {
  position: fixed;
  z-index: 50;
  top: 16px;
  left: 16px;
  padding: 0 16px;
  border-radius: 2px;
}

@media (max-width: 700px) {
  .brand {
    left: 0px;
  }
}

.brand img {
  height: 60px;
  width: 60px;
}

@media (max-width: 700px) {
  .brand img {
    height: 40px;
    width: 40px;
    left: 0px;
  }
}

.brand h1 {
  color: #fff;
}

.brand h1 span {
  color: #808080;
}

.background {
  position: fixed;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, from(#060229), to(#000000));
  background: linear-gradient(0deg, #060229, #000000);
  overflow-x: hidden;
}

.background img {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 700px) {
  .background img {
    top: 8%;
    left: 8.5%;
    width: 150%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .background img:nth-child(2) {
    top: 85%;
    left: 100%;
    width: 100%;
  }
}

.background .code_bg {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  overflow: hidden;
}

.background .code_bg::after {
  content: "";
  position: absolute;
  height: 110%;
  width: 110%;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.background .circle {
  position: fixed;
  top: 29%;
  left: 43%;
  height: 200px;
  width: 200px;
  background: radial-gradient(farthest-side at 50% 0%, #01adff, #ec034400), linear-gradient(25deg, #f00, #00f);
  border-radius: 50%;
  z-index: 9;
}

@media (max-width: 700px) {
  .background .circle {
    top: 40%;
    left: 30%;
    height: 160px;
    width: 160px;
  }
}

@-webkit-keyframes rotate_it {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate_it {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.background .symbols {
  display: none;
  position: relative;
  z-index: 10;
}

.background .symbols p {
  font-size: 4rem;
  color: #fff;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.background .symbols .braces {
  position: absolute;
  top: 120px;
  left: 300px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  animation: rotate_it 0.5s 1s infinite alternate-reverse linear;
}

.background .symbols .plus {
  position: absolute;
  top: -200px;
  left: -350px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  animation: rotate_it 0.5s 0.3s infinite alternate-reverse linear;
}

.background .symbols .zero {
  position: absolute;
  top: -200px;
  left: 300px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  animation: rotate_it 0.5s 0.8s infinite alternate-reverse linear;
}

.background .symbols .arrows {
  position: absolute;
  top: 120px;
  left: -350px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  animation: rotate_it 0.5s 0.5s infinite alternate-reverse linear;
}

@media (max-width: 700px) {
  .background .symbols p {
    font-size: 2rem;
  }
  .background .symbols .braces {
    top: 100px;
    left: -100px;
  }
  .background .symbols .plus {
    top: -100px;
    left: -100px;
  }
  .background .symbols .zero {
    top: -100px;
    left: 100px;
  }
  .background .symbols .arrows {
    top: 100px;
    left: 100px;
  }
}

.nav {
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, rgba(2, 19, 112, 0.7), rgba(2, 255, 234, 0.7));
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: fixed;
  z-index: 40;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  opacity: 1;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

@media (max-width: 700px) {
  .nav {
    background: linear-gradient(45deg, rgba(2, 19, 112, 0.9), rgba(2, 255, 234, 0.9));
  }
}

.nav.expanded {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.nav ul {
  list-style: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav ul .item {
  height: 100px;
  width: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.nav ul .item a {
  font-family: "Merriweather sans", Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 4rem;
  color: #141e2e;
  text-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav ul .item a:hover {
  color: #fff;
  letter-spacing: 30px;
}

@media (max-width: 480px) {
  .nav ul .item a {
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  .nav ul .item a {
    font-size: 2.5rem;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .nav ul .item a:hover {
    letter-spacing: 10px;
  }
}

.nav ul .item::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: -100%;
  height: 5px;
  width: 100%;
  background: #fff;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.nav ul .item:hover::after {
  left: 100%;
}

@media (max-width: 700px) {
  .nav ul .item:hover::after {
    display: none;
  }
}

/* animate the sidebar menu */
.nav-toggle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  height: 30px;
  position: fixed;
  top: 2rem;
  right: 4rem;
  width: 50px;
  z-index: 50;
}

@media (max-width: 700px) {
  .nav-toggle {
    height: 40px;
    width: 40px;
    left: calc(100vw - 4rem);
    top: 16px;
  }
}

.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #ff6a60;
  background: #3d3d3d;
  content: "";
  height: 0.4rem;
  width: 100%;
}

@media (max-width: 700px) {
  .nav-toggle .nav-toggle-bar,
  .nav-toggle .nav-toggle-bar::after,
  .nav-toggle .nav-toggle-bar::before {
    height: 4px;
  }
}

.nav-toggle .nav-toggle-bar {
  margin-top: 0;
}

.nav-toggle .nav-toggle-bar::after {
  margin-top: 0.8rem;
}

@media (max-width: 700px) {
  .nav-toggle .nav-toggle-bar::after {
    margin-top: 0.6rem;
  }
}

.nav-toggle .nav-toggle-bar::before {
  margin-top: -0.8rem;
}

@media (max-width: 700px) {
  .nav-toggle .nav-toggle-bar::before {
    margin-top: -0.6rem;
  }
}

.nav-toggle.expanded .nav-toggle-bar {
  background: transparent;
}

.nav-toggle.expanded .nav-toggle-bar::after,
.nav-toggle.expanded .nav-toggle-bar::before {
  margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #fff;
}

.nav-toggle.expanded .nav-toggle-bar::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #fff;
}

@-webkit-keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.highlight {
  display: none;
  height: 100vh;
  width: 100%;
  z-index: 100;
  position: fixed;
  font-size: 1.5rem;
  text-align: center;
  padding: 0px 5px;
  border-radius: 5px;
}

.highlight h1 {
  color: #551400;
  font-weight: bold;
  font-size: 5rem;
  position: fixed;
  padding: 10px 20px;
  background: #ffd902;
  -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 5rem;
}

.highlight h1 span {
  color: #10a503;
  font-size: 3rem;
  padding: 10px 20px;
  -webkit-animation: blink 1.2s infinite linear alternate;
          animation: blink 1.2s infinite linear alternate;
}

@media screen and (max-width: 800px) {
  .highlight h1 span {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 800px) {
  .highlight h1 {
    font-size: 2.1rem;
  }
}

.main {
  height: auto;
  width: 100%;
  height: auto;
}

.main .welcome {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 10;
}

.main .welcome .name {
  position: relative;
  padding: 20px 40px;
  background: radial-gradient(farthest-side at 50% 20%, #ffffff6e, #ec034400), linear-gradient(25deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
  border-bottom: 2px solid #eee;
}

@media (max-width: 700px) {
  .main .welcome .name {
    width: 90%;
    padding: 10px;
    margin: 0 auto;
  }
}

.main .welcome .name h2 {
  font-size: 3rem;
  margin: 20px;
  color: #ffffff;
  margin-left: 20px;
  line-height: 0;
  font-family: 'Reenie Beanie', cursive;
  text-shadow: 0 5px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.main .welcome .name h2 span {
  color: #00ff95;
}

@media (max-width: 700px) {
  .main .welcome .name h2 {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  .main .welcome .name h2 {
    font-size: 2rem;
  }
}

.main .welcome .name h1 {
  font-size: 7rem;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 10px 0px rgba(0, 0, 0, 0.2);
}

.main .welcome .name h1 span {
  color: #ffffff;
}

@media (max-width: 700px) {
  .main .welcome .name h1 {
    font-size: 4.2rem;
    text-shadow: 0 8px 0px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 400px) {
  .main .welcome .name h1 {
    font-size: 3.5rem;
  }
}

.main .welcome .name p {
  font-size: 3rem;
  color: #fff;
  font-family: 'Reenie Beanie', cursive;
  text-shadow: 0 5px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  .main .welcome .name p {
    font-size: 3rem;
  }
}

@media (max-width: 400px) {
  .main .welcome .name p {
    font-size: 1.6rem;
  }
}

.main .welcome .name .sub-title {
  font-size: 1.3rem;
  text-align: right;
  color: #00ff95;
  letter-spacing: 1px;
}

.main .welcome .down-arrow {
  position: relative;
  margin-top: 50px;
  height: 0px;
  width: 0px;
  background-color: transparent;
  border-top: 40px solid rgba(255, 255, 255, 0.2);
  border-bottom: 40px solid transparent;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  -webkit-animation: arrow 1s 0.5s infinite alternate linear;
          animation: arrow 1s 0.5s infinite alternate linear;
}

.main .welcome .down-arrow::after {
  position: absolute;
  top: -52px;
  left: -40px;
  content: "";
  height: 6px;
  width: 80px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-animation: arrowDash 1s infinite alternate linear;
          animation: arrowDash 1s infinite alternate linear;
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
    border-top-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    opacity: 1;
    border-top-color: rgba(255, 255, 255, 0.7);
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
    border-top-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    opacity: 1;
    border-top-color: rgba(255, 255, 255, 0.7);
  }
}

@-webkit-keyframes arrowDash {
  0% {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

@keyframes arrowDash {
  0% {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.main .portfolio {
  position: relative;
  z-index: 20;
  background: radial-gradient(farthest-side at 50% 0%, #79fbff, transparent), linear-gradient(25deg, #ff7e7e, #8888ff);
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1) inset;
  top: -140px;
}

@media (max-width: 480px) {
  .main .portfolio {
    width: 90%;
    top: 0;
  }
}

.main .portfolio .container {
  position: relative;
  padding: 50px 0;
  -webkit-box-shadow: 0 30px 20px -15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 30px 20px -15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 700px) {
  .main .portfolio .container {
    padding: 20px 0;
  }
}

.main .portfolio .container h2 {
  color: #fff;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 700px) {
  .main .portfolio .container h2 {
    color: #272727;
    letter-spacing: 0;
    text-transform: none;
    font-size: 2.5rem;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  }
}

.main .portfolio .container p {
  text-align: center;
  color: #fefefe;
}

.main .portfolio .container .btn-more {
  position: relative;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 100px;
  color: #fff;
  background-color: #2b2b2b;
  margin: 0 auto;
  margin-top: 20px;
}

.main .portfolio .container .gallary {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

.main .portfolio .container .gallary .card-box {
  max-width: 300px;
  margin: 0 auto;
  -webkit-perspective: 500px;
          perspective: 500px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .portfolio .container .gallary .card-box .card {
  border: none;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.main .portfolio .container .gallary .card-box .card .card-title {
  color: #00ac64;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .portfolio .container .gallary .card-box .card .card-text {
  font-family: 'Noto Sans Mono', monospace;
  letter-spacing: -0.5px;
  color: #0e384d;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .portfolio .container .gallary .card-box .card .btn {
  border: none;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .portfolio .container .gallary .card-box .card .btn:hover {
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.main .portfolio .container .gallary .card-box .card .btn-secondary {
  background: linear-gradient(-45deg, #4d4d4d, #222);
}

.main .portfolio .container .gallary .card-box .card .btn-success {
  background: linear-gradient(-45deg, #ff0707, #ff7b00);
}

.main .portfolio .container .gallary .card-box .card img {
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 700px) {
  .main .portfolio .container .gallary .card-box .card img {
    -webkit-box-shadow: 0px 20px 10px -10px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 20px 10px -10px rgba(0, 0, 0, 0.2);
    -webkit-transform: none;
            transform: none;
  }
}

.main .portfolio .container .gallary .card-box .card:hover {
  background: linear-gradient(45deg, #8c00ff, #00ffff);
}

@media (max-width: 700px) {
  .main .portfolio .container .gallary .card-box .card:hover {
    background: #fff;
  }
}

.main .portfolio .container .gallary .card-box .card:hover .card-title {
  color: #fff;
  -webkit-transform: translateZ(15px);
          transform: translateZ(15px);
}

@media (max-width: 700px) {
  .main .portfolio .container .gallary .card-box .card:hover .card-title {
    color: #00ac64;
    -webkit-transform: none;
            transform: none;
  }
}

.main .portfolio .container .gallary .card-box .card:hover .card-text {
  color: #eee;
  -webkit-transform: translateZ(10px);
          transform: translateZ(10px);
}

@media (max-width: 700px) {
  .main .portfolio .container .gallary .card-box .card:hover .card-text {
    color: #0e384d;
    -webkit-transform: none;
            transform: none;
  }
}

.main .portfolio .container .gallary .card-box .card:hover img {
  -webkit-transform: translateZ(30px);
          transform: translateZ(30px);
  -webkit-box-shadow: 0px 20px 10px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 20px 10px -10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  .main .portfolio .container .gallary .card-box .card:hover img {
    -webkit-transform: none;
            transform: none;
  }
}

@media (max-width: 700px) {
  .main .portfolio .container .gallary .card-box .card {
    -webkit-transform: none;
            transform: none;
    -webkit-transform-style: unset;
            transform-style: unset;
  }
}

@media (max-width: 700px) {
  .main .portfolio .container .gallary .card-box {
    width: 90%;
  }
}

.main #dev {
  position: fixed;
  top: 40px;
  left: -30px;
  width: 100px;
  height: 30px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: white;
  background-color: #202123;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
}

.main #dev p {
  margin: 0;
  padding: 0;
}

.main .education {
  position: relative;
  height: auto;
  padding-block: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
}

@media (max-width: 700px) {
  .main .education {
    padding-bottom: 150px;
  }
}

.main .education .container {
  position: relative;
  padding: 30px;
  border: 10px solid #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.6))), url("../img/tic-tac-toe.png");
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../img/tic-tac-toe.png");
  -webkit-box-shadow: 0 30px 20px -15px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 30px 20px -15px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  height: auto;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@media (max-width: 700px) {
  .main .education .container {
    position: relative;
    z-index: 0;
    padding: 10px;
    width: calc(100vw - 2rem);
    border: none;
    border-radius: 8px;
    background: #f8f8f8;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 700px) {
  .main .education .container h2 {
    color: #272727;
    letter-spacing: 0;
    text-transform: none;
    font-size: 1.5rem;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  }
}

.main .education .container .skills {
  position: relative;
  margin-top: 30px;
}

.main .education .container .skills h4 {
  font-size: 1.1rem;
}

@media (max-width: 700px) {
  .main .education .container .skills h4 {
    font-size: 1rem;
    font-weight: normal;
  }
}

.main .education .container .skills li {
  display: inline-block;
  padding: 5px;
}

.main .education .container .skills li img {
  height: 40px;
  width: auto;
}

@media (max-width: 700px) {
  .main .education .container .skills li .tech-name {
    font-size: 0.7rem;
  }
}

.main .education .container .skills .learning {
  display: none;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.7;
}

@media (max-width: 700px) {
  .main .education .container .skills li {
    text-align: center;
  }
  .main .education .container .skills .middot {
    display: none;
  }
}

.main .education .container .self-taught {
  position: relative;
  margin-top: 24px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.main .education .container .self-taught p {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
  line-height: 3rem;
  letter-spacing: -0.5px;
  font-size: 1.6rem;
  color: #38313f;
  margin: 10px;
}

.main .education .container .self-taught p strong {
  padding: 0 5px;
}

.main .education .container .self-taught .photo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  max-width: 90%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.main .education .container .self-taught .photo .photo-item {
  border: 10px solid #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  width: 400px;
  max-width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@media (max-width: 700px) {
  .main .education .container .self-taught .photo .photo-item {
    width: calc(100vw - 1rem);
  }
}

.main .education .container .self-taught .photo .photo-item .photo-front,
.main .education .container .self-taught .photo .photo-item .photo-back {
  background-size: cover;
  background-position: center;
  min-height: 375px;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.main .education .container .self-taught .photo .photo-item .photo-front {
  background-image: url(../img/jitu/my-photo.jpg);
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.main .education .container .self-taught .photo .photo-item .photo-back {
  background-image: url(../img/jitu/jitu-red.png);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.main .education .container .self-taught .photo .photo-item:hover .photo-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.main .education .container .self-taught .photo .photo-item:hover .photo-back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

@media (max-width: 700px) {
  .main .education .container .self-taught .photo .photo-item:hover .photo-front {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  .main .education .container .self-taught .photo .photo-item:hover .photo-back {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@media (max-width: 700px) {
  .main .education .container .self-taught .photo .photo-item .photo-front.active {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
  .main .education .container .self-taught .photo .photo-item .photo-back.active {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@media (max-width: 700px) {
  .main .education .container .self-taught {
    padding: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .education .container .self-taught p {
    font-size: 1.2rem;
    letter-spacing: 0px;
    margin-left: 0;
    line-height: 2rem;
  }
  .main .education .container .self-taught .photo {
    max-width: 90%;
  }
}

.main .education .container .personal {
  position: relative;
  margin-top: 30px;
}

.main .education .container .personal p {
  width: 90%;
  margin-inline: auto;
  font-size: 1.1rem;
}

.main .education .container .personal .resume {
  width: 350px;
  margin: 1rem auto;
  padding: 16px 40px;
  background: #ffc014;
  border-radius: 12px;
  font-size: 2rem;
  -webkit-box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
}

.main .education .container .personal .resume a {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  text-shadow: 0 3px 0px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .education .container .personal .sorry {
  color: #1b1b1cb9;
  text-align: center;
  font-size: 1rem;
}

.main .education .container .personal ul {
  position: relative;
  list-style: none;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 0 10px;
}

.main .education .container .personal ul li {
  position: relative;
  width: 350px;
  max-width: 100%;
  margin: 1rem auto;
  padding: 16px 40px;
  border-radius: 12px;
  font-size: 2rem;
  -webkit-box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .education .container .personal ul li:nth-child(1) {
  background: linear-gradient(45deg, #36ff4e, #219efe);
}

.main .education .container .personal ul li:nth-child(2) {
  background: linear-gradient(45deg, #ff4736, #fe21ce);
}

.main .education .container .personal ul li:nth-child(3) {
  background: linear-gradient(45deg, #ab36ff, #fe4931);
}

.main .education .container .personal ul li:nth-child(4) {
  background: linear-gradient(45deg, #36bcff, #7621fe);
}

@media (max-width: 700px) {
  .main .education .container .personal ul li {
    border-radius: 4px;
    padding: 10px 30px;
    border: 1px solid white;
    -webkit-box-shadow: 0 10px 16px rgba(0, 0, 0, 0.3);
            box-shadow: 0 10px 16px rgba(0, 0, 0, 0.3);
  }
}

.main .education .container .personal ul li a {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .education .container .personal ul li a span {
  font-weight: lighter;
  width: 150%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 700px) {
  .main .education .container .personal ul li a {
    font-size: 1.2rem;
  }
}

.main .education .container .personal ul li:hover a span {
  margin-left: 10px;
}

@media (max-width: 700px) {
  .main .education .container .personal ul {
    display: block;
  }
}

.main .contact {
  padding: 50px;
  position: relative;
  width: 100%;
  z-index: 20;
  background-color: #f8f8f8;
}

@media (max-width: 700px) {
  .main .contact {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    -webkit-box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.3);
            box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 700px) {
  .main .contact h2 {
    color: #272727;
    letter-spacing: 0;
    text-transform: none;
    font-size: 1.5rem;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  }
}

.main .contact li {
  display: inline-block;
  margin: 10px;
}

.main .contact li a {
  text-decoration: none;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .contact li a .footer_icon {
  height: 50px;
  width: 50px;
}

@media (max-width: 700px) {
  .main .contact li a .footer_icon {
    height: 20px;
    width: 20px;
  }
}

.main .contact li a span {
  font-size: 1.1rem;
}

@media (max-width: 700px) {
  .main .contact li a span {
    font-size: 0.7rem;
  }
}

.main .contact li a:hover {
  color: #fe3503;
}

@-webkit-keyframes shakeButton {
  from {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes shakeButton {
  from {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

.main .contact #coffeeBtn {
  pointer-events: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.main .contact #coffeeBtn img {
  background: #fff;
  padding: 10px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  -webkit-box-shadow: 0 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 0px rgba(0, 0, 0, 0.1);
}

.main .contact #coffeeBtn.shake {
  -webkit-animation: shakeButton 0.1s infinite alternate linear;
          animation: shakeButton 0.1s infinite alternate linear;
}
/*# sourceMappingURL=styles.css.map */